@import url('https://cdnjs.cloudflare.com/ajax/libs/basscss/8.0.3/css/basscss.css');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343a40; }

body {
  font-size: 17px;
  line-height: 2; }

footer {
  font-size: 1em;
  font-weight: 500; }

a {
  text-decoration: none;
  color: #343a40; }

h1, h2, h3 {
  color: #343a40;
  font-weight: 600;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.4em; }
  h1.small {
    font-size: 0.8em;
    text-transform: uppercase; }

h2 {
  padding: 0 0 2rem 0; }

h3 {
  padding: 2rem 0; }

p {
  margin: 0;
  padding: 0 0 2rem 0; }

pre {
  background-color: #f5f5f5;
  padding: 1.6rem;
  margin: 0 0 2rem 0; }

.post {
  margin-bottom: 4rem; }
  .post time {
    display: block;
    color: #868e96;
    font-size: 0.8em;
    margin: 0 0 0.2rem 0;
    text-transform: uppercase;
    color: gray; }

.metadata {
  color: #ddd;
  font-weight: bolder;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em; }

.tags {
  list-style: none;
  margin: 0;
  padding: 0; }
  .tags li {
    color: #999;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    border: solid 2px #999;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 50px;
    padding: 0 0.5rem; }
