<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="px3">
		<div class="max-width-3 mx-auto">
			<div class="posts">
				{{#posts}}
					<div class="post">
						<strong>{{metadata.title}}</strong> / {{metadata.date}}
					</div>
				{{/posts}}
			<div>
		</div>
	</div>
</body>
</html>